.faq-styles {

    background-image: url('../../styles/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
}

.faq {
    
    margin-left: 10rem;
    margin-right: 5rem;
    padding: 2rem;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 2rem;

    &-question {
        text-align: left;
    }

    &-response {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    .faq {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

