@use 'src/styles/vars';

.form-api {
    height: 100vh;
    padding: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.api-image{
    border-radius: 10px;
}

.anecdote-api {
    position: absolute;
    max-width: 20em;
    min-height:5em;
    margin-top: 2rem;
    padding: 1em;
    bottom: 2.1em;
    font-size: 1.4rem;

    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(255, 255, 255, 0.68);
}
