.ui.button{
    margin-top: 1rem;
}

.resetpassword-form {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(63,108,251);
    background: linear-gradient(162deg, rgba(63,108,251,1) 0%, rgba(252,70,117,1) 100%);
    color: white;

    .ui.form{
        width: 100%;
    }
}

.error-msg {
    max-height: 100px;
}

.resetpassword-buttons {
    display: flex;
    justify-content: space-around;

    button {
        width: 130px;
    }
}

.input-resetpassword {
    width: 300px;
}


@media only screen and (max-width: 768px) {
    .resetpassword-form {
        width: 100vw;
    }

    .resetpassword-buttons {
        display: flex;
        justify-content: space-around;
    }
}