
.container{
    position: fixed;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;

    button{
        width: 180px;
    }
}



@media only screen and (max-width: 768px) {
    .buttons {
        flex-direction: column;
        height: 300px;
        width: 200px;
        margin: auto;
    }
}
