.update-page {
    background: rgb(63,108,251);
    background: linear-gradient(162deg, rgba(63,108,251,1) 0%, rgba(252,70,117,1) 100%);
    color: white;
}

.update-profile {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form-update-human {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.form-update-all-informations {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}


.form-update-human-area {
    width: 350px;
    margin-top: 1rem;
}

.form-update-radios {
    width: 350px;
}

.form-update-human-buttons {
    height: 80px;
}

@media only screen and (max-width: 768px) {
    .update-profile {
        margin-top: -6rem;
        margin-bottom: 25rem;
    }

    .form-update-human {
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    .form-update-all-informations {
        display: flex;
        margin-top: 0rem;
        flex-direction: column;
    }

    .form-update-human-buttons {
        height: 50px;
    }

    .form-update-image {
        margin-top: 7rem;
    }
}

