.update-profile {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.form-update-human {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.form-update-all-informations {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}


.form-update-human-area {
    width: 350px;
    margin-top: 1rem;
}

.form-update-radios {
    width: 350px;
}

.form-update-human-buttons {
    height: 80px;
}

@media only screen and (max-width: 768px) {
    .update-profile {
        border: none;
        
    }

    .form-update-human {
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    .form-update-all-informations {
        display: flex;
        margin-top: 0rem;
        flex-direction: column;
    }

    .form-update-human-buttons {
        height: 50px;
    }

    .form-update-image {
        margin-top: 7rem;
    }
}

