.headerTitle {
    color: white;
    font-size: 3rem;
}

.loginContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginMainForm {
    max-width: 400px;
    margin: auto;
}

.forgot-password {
    color: white;
}

@media only screen and (max-width: 768px) {
    .loginMainForm{
        width: 280px;
    }
}