.update-user {
    background: rgb(63,108,251);
    background: linear-gradient(162deg, rgba(63,108,251,1) 0%, rgba(252,70,117,1) 100%);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.update-buttons {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

.update-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.update-user-input {
    width: 300px;
}

.success-message {
    width: 300px;
}