.about-styles {

    background-image: url('../../styles/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
}

.about-image {
    width: 20rem;
    height: 300px;

    &-cats {
        width: 25rem;
        height: 200px;
    }
}