.mobilenav-icon{
    display: none;

    @media screen and (max-width:480px){
        position: sticky;
        bottom:0;
        display:flex;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        padding: 1em;

        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.9px);
        -webkit-backdrop-filter: blur(18.9px);
    }
}