@use "../../../styles/vars";

.sendMessage {
    background-color: white;
    height: 5rem;
    display: flex;
    box-shadow: 4px -2px 5px 2px rgba(0, 0, 0, 0.27);

    &-input {
        border: 0;
        background: none;
        width: 100%;
        padding: 2rem;
        font-size: 1.5em;

        &:focus {
            background-color: darken(white, 10%);
        }
    }

    &-submit {
        width: 5rem;
        color: grey;
        background: none;
        border: 0;
        cursor: pointer;
        padding: 1rem;

        &:hover {
            color: darken(grey, 10%);
        }
    }
}

@media only screen and (max-width: 768px) {
    .sendMessage-input {
        font-size: 1.4em;
    }
}