@use 'src/styles/vars';

.profile {
    display: flex;
    height: 100vh;

    background-image: url('../../styles/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &-form {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: transparent;
    }

    &-API {
        width: 50vw;
        background: transparent;
    }
}

.create-title {
    @media screen and (max-height:730px){
        margin-top: -1rem;
    }
}

@media only screen and (max-width: 768px) {
    .profile-API{
        display: none;
    }

    .profile-form {
        width: 100vw;
    }

    .profile-logo {
        width: 140px;
    }
}