.adopthuman {
    font-weight: bold;
    width: 200px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.adopthuman-icon {
    position: relative;
    color: pink;
}