.miniprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8.5vh;
    margin: auto 0.8em auto 0.8em;
    padding: 0.5em 1em 0.5em;

    background: rgba(124, 121, 231, 0.12);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(124, 121, 231, 0.25);

    &:hover{
        cursor:pointer;
        border: 1px solid rgba(124, 121, 231, 0.70);
        background: rgba(124, 121, 231, 0.70);
    }

    @media screen and (max-width:480px){
        margin: auto 0.2em auto 0.2em;
        width: auto;
    }
}

.align-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.imgRounded{
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic{
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.profileName{
    font-size: 1.4vw;
    padding-left: 0.7em;

    @media screen and (max-width:480px){
        font-size: 1.1rem;
    }
}

.heartIcon{
    height: 100%;

    &:hover {
        color: red
    }
}

.mail {
    color: white;

    &:hover {
        color: blueviolet;
    }
}

.bloc-icons {
    width: 100px;
    display: flex;
    justify-content: space-around;
}