.update-profile-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-update-cat {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-update-cat-all-informations {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}

.update-informations-cat-only {
    margin-left: 2rem;
}


.form-update-cat-area {
    width: 350px;
    margin-top: 1rem;
}

.form-update-radios {
    width: 350px;
}

.form-update-cat-buttons {
    height: 80px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 1115px) {
    .update-profile-cat {
        border: none;
        margin-top: -25rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .form-update-cat {
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    .form-update-cat-all-informations {
        display: flex;
        flex-direction: column;
    }

    .form-update-cat-buttons {
        height: 50px;
        margin-bottom: 5rem;
    }

    .form-update-image {
        margin-top: 25rem;
    }

    .update-informations-cat-only {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}



