.chat {
  background: rgb(63,108,251);
  background: linear-gradient(162deg, rgba(63,108,251,1) 0%, rgba(252,70,117,1) 100%);
  color: white;

  @media screen and (max-width:480px){
      display: flex;
      flex-direction: column;
  }

  &-content {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 0.5rem;

    width: 90%;
    height: 70vh;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width:480px){
        justify-content: flex-start;
        align-items: center;
        height: 65vh;
     }
}
}